<footer class="bg-dark text-light py-4 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>Eco Waste Management</h5>
                    <p>Making waste management smarter and sustainable.</p>
                </div>
                <div class="col-md-6 text-end">
                    <p>© 2024 Eco Waste Management. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>